DYNAMO_REGION=us-east-1
DYNAMO_TABLE_USERS=smart-expense-users
DYNAMO_TABLE_EXPENSES=smart-expense-expenses
DYNAMO_TABLE_CATEGORIES=smart-expense-categories

S3_BUCKET_NAME=smart-expense-reports
S3_REGION=us-east-1

JWT_SECRET=replace-me

AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret

